// forcing external font import to be treated as CSS (not LESS), otherwise it fails
@import (css) url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab|Material+Icons&display=swap');

@font-family-serif: "Roboto Slab", serif;
@font-family-sans: Roboto, sans-serif;
@font-family-mono: "Roboto Mono", monospace;
//@font-family-icon: "Material Icons";

/*
@small-thumb-height: 160px;
@med-thumb-height: 190px;
@med-thumb-width: 200px;
@large-thumb-height: 200px;
*/

@bgcolor-newspage: #000;
@bgcolor-article-card: #dcdcdc;
@bgcolor-article-card-high: #fff;

@screen-xs-max: 480px;
@screen-s-min: @screen-xs-max + 1px;
@screen-s-max: 750px;
@screen-m-min: @screen-s-max + 1px;
@screen-m-max: 900px;
@screen-l-min: @screen-m-max + 1px;
@screen-l-max: 1280px;
@screen-xl-min: @screen-l-max + 1px;

@screen-hd:  ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
               ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
               ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
               ~"only screen and (min-device-pixel-ratio: 1.5)";

@xsmall: ~"only screen and (max-width: @{screen-xs-max})";
@small: ~"only screen and (min-width: @{screen-s-min}) and (max-width: @{screen-s-max})";
@small-medium: ~"only screen and (min-width: @{screen-s-min}) and (max-width: @{screen-m-max})";
@medium: ~"only screen and (min-width: @{screen-m-min}) and (max-width: @{screen-m-max})";
@medium-large: ~"only screen and (min-width: @{screen-m-min}) and (max-width: @{screen-l-max})";
@large: ~"only screen and (min-width: @{screen-l-min}) and (max-width: @{screen-l-max})";
@xlarge: ~"only screen and (min-width: @{screen-xl-min})";
@small-up: ~"only screen and (min-width: @{screen-s-min})";
@medium-up: ~"only screen and (min-width: @{screen-m-min})";
@large-up: ~"only screen and (min-width: @{screen-l-min})";

@print: ~"print";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  box-sizing: border-box;
  font-family: @font-family-sans;
  background-color: @bgcolor-newspage;
}

.error {
  color: #c00;
}

footer {
  margin: 2rem 0;
}

button,
.button {
  cursor: pointer;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  //font-size: 24px;  /* Preferred icon size */
  font-size: 16px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
