@import 'global';

.news-nav {

  .menu-trigger {
    font-size: 1.6rem;
    width: 2rem;
    color: @color-gray-six;

    &::before {
      content: '☰'; //U+2630
    }

    &:hover {
      color: @color-gray-eight;
    }
  }

  .backplane {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 1;
  }

  .list-holder {
    position: relative;
  }

  .menu-list {
    position: absolute;
    top: 1rem;
    left: 0;
    z-index: 2;
    background-color: @color-gray-seven;
    list-style-type: none;
    //border-radius: 8px;
    box-shadow: 5px 5px 20px @color-gray-two;

    li {
      font-family: @font-family-serif;
      font-size: 1.2rem;
      //padding: 0.2rem;
      color: @color-gray-one;

      a, span {
        padding: 0.2rem 2rem;
      }

      a {
        text-decoration: none;
        display: block;
        //border-radius: 8px;
        color: @color-gray-three;

        &:hover {
          //background-color: @color-gray-two;
          color: @color-gray-eight;
        }
      }

      &.current {
        cursor: default;
      }

      &:hover {
        background-color: @color-gray-two;
      }

      &.current:hover {
        background-color: transparent;
      }
    }
  }
}
