@import 'global';

.news-nav {
  .backplane {
    .screen-cover();
    position: relative;
    background: transparent;
    z-index: 10;
  }

  .menu-trigger {
    cursor: pointer;
  }

  .menu-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #ffc;
  }


}