@import 'global';

.news-header {
  position: relative;
  padding: 0.5rem;
  padding-left: 3rem;

  .news-nav {
    position: absolute;
    left: 1rem;
    top: 0.2rem;
  }

  h1 {
    font-family: @font-family-serif;
    font-size: 1.4rem;
    text-align: center;
    color: #404040;
  }
}
